@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CentiSoft</h1>
    <p class="lead">CentiSoft is a development company specializing in customized web applications.</p>
    <p><a href="Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create a new company</h2>
        <p>
            Here you can create a new company, which should contain a name, address, city, zip and phone!
        </p>
        <p><a class="btn btn-default" href="/Company/Create">Create &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create a new contact</h2>
        <p>Here you can create a new contact which should contain a first name, last name, address, city, zip and phone and a company where this contact works.</p>
        <p><a class="btn btn-default" href="/Contact/Create">Create &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create a new project</h2>
        <p>Here you can create a new project which should contain a name and description and a company which works on this project.</p>
        <p><a class="btn btn-default" href="/Project/Create">Create &raquo;</a></p>
    </div>
</div>